.avatar {
    vertical-align: middle;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.avatar-sm {
    vertical-align: middle;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.avatar-xs {
    vertical-align: middle;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}